{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="author" content="Bigman2055">
  <meta name="keywords" content="HTML,CSS3,XML,JavaScript" >
	<title>{% block title %} Django Boards {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
</head>
<body>
  <style>
  *{
    font-size: 18px;
    font-weight: bold;
    font-family: arial;
  }

</style>

	{% block body %}

<nav class="navbar navbar-expend-sm navbar-dark bg-dark" >
          <div class="view overlay z-depth-1-half" style="float: left;">
         
          <a href="https://techcampus.com" target="_blank">
             <img src="{% static 'images/tech.jpg' %}" class="img-fluid"
            alt="techcampus" width="70px">
          </a>
        </div>

<div class="container">

    <a class="navbar-brand" href="{% url 'index' %}">Django Boards</a>
            {% if user.is_authenticated %}
<div class="dropdown" >
  <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
    HI {{ user.username }}
  </button>
  
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    
    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
    
  </div>
</div>

 </div>
       

  {% else %}
  <form class="form-inline ml-auto">
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log In</a>
    <a href="{% url 'signup' %}" class="btn btn-primary ml-2">SignUp</a>
  </form>
  {% endif %}
</div>
</nav>        
							
	<div class="container">
		<ol class="breadcrumb my-4">
			{%  block breadcrumb %}

			{% endblock %}
		</ol>


    {% block content %}

    {% endblock %}
   {% endblock %}
      </div>


<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4" >

  <!-- Footer Elements -->
         <div class="view overlay z-depth-1-half" style="float: right;  ">
         
          <a href="https://techcampus.com" target="_blank">
             <img src="{% static 'images/tech.jpg' %}" class="img-fluid"
            alt="techcampus"  style=" width:140px; padding-right: 50px;">
          </a>
        </div>




<section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-4 text-center">

        <p class="h2">
          <a href="" class="mx-2"><i class="fa fa-facebook"></i></a>
          <a href="" class="mx-2"><i class="fa fa-twitter"></i></a>
          <a href="" class="mx-2"><i class="fa fa-instagram"></i></a>
          <a href="" class="mx-2"><i class="fa fa-google"></i></a>
          <a href="" class="mx-2"><i class="fa fa-pinterest"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.kanzalebda3.com">Al Asmri Trainee at TechCampus </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->









<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

